$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nova+Square|Roboto');

// Color mixes…
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;


body {
  background-image: url('https://i.imgur.com/0xX79Gm.jpg');
}

.block-container {
  display: inline;
}

.duck {
  max-width: 100%;
  height: 200px;
  width: 200px;
  margin-left: 5px;

}

h1 {
  font-family: 'Bungee Inline', 'cursive';
  font-size: 80px;
  color: #1995FC;
  text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
        margin-left: 5px;
       padding: 0px;
}

.astrodocs-text {
  font-family: 'Nova Square', sans-serif;
  color: #fff;
}

.modal-title {
  color: $fifty-percent-gray;
  font-family: 'Nova Square', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &.modal-title-green {
    color: $green;
  }

  &.modal-title-red {
    color: $red;
  }
}

input { // form input fields
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 2% 5%;
  width: 90%;
}

.modal-content {
  padding: 3%;
}
